*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-align: center;
}

.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header{
    height: 100px;
    background-color: #081b31;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

img:hover{
    border: 8px solid black;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;  
}

.imgs{
    padding-top: 100px;
    width: 800px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.score{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 150px;
    width: 700px;
    margin-top: 50px;
    font-size: 60px;
}

.button button{
    background-color: #081b31;
    border: none;
    color: white;
    border-radius: 7px;
    height: 50px;
    width: 200px;
    margin-top: 50px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    cursor: pointer;
}